<h1><%= @user.name %></h1>


<h3>My Websites</h>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%= website.name%></td>
    <td><%= link_to "Link", website_path("#{website.folder}/index.html")%></td>
  </tr>
<% end %>
</table>
